<%- layout('layouts/main.ejs') %>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

</head>

<body>

<br></br>
<h1>Bienvenido</h1>

<a href="/addalumno" class="btn btn-primary btn-block mt-4">
    Añadir Alumno
</a>

<a href="/addcarrera" class="btn btn-primary btn-block mt-4">
    Añadir Carrera
</a>

<a href="/consultaralumno" class="btn btn-primary btn-block mt-4">
    Consultar Alumnos
</a>

<a href="/consultarcarrera" class="btn btn-primary btn-block mt-4">
    Consultar Carreras
</a>



</body>



</html>

